
        .playground img {
            position: absolute;
        }

        .playground p {
            font-size: 30px;
            font-family: 'SimHei';
            font-weight: bold;
            color: #667799;
            position: absolute;
            left: 305px;
            top: 120px;
        }

        .playground p+p {
            top: 176px;
        }

        .playground p+p+p {
            top: 232px;
        }
  